<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="form-body">
      <img src="/static/img/219983.png" alt="user-login">
      <p class="text"> Bienvenido a JMcode</p>
      <form class="login">
        <input type="text" placeholder="email o nombre">
        <input type="password" placeholder="Contraseña">
        <button>iniciar Sesión</button>
      </form>

    </div>

</body>
</html>